<div class="container1">
  <table class="table table-bordered">
    <thead style="padding: 10px">
    <th *ngFor="let column of columns" scope="col" style="padding: 10px; border-right: 1px solid #ced4da">
      {{ column }}
      <div>
        <input class="form-control" placeholder="Filter..." (keyup)="onChangeEvent($event, column)">
      </div>
    </th>
    </thead>
    <tbody>
    <tr *ngFor="let d of data">
      <td *ngFor="let column of columns">
        {{ d[column] }}
      </td>
    </tr>
    </tbody>
  </table>
</div>
